<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Games</title>
</head>
<body>
    <h1>All Games Page</h1>
    
    <ul>
    <% allGames.forEach(game => { %>
        
        <li>
            <a href="/games/<%= game._id %>"><%= game.name %></a>
            <a href="/games/<%= game._id %>/edit">Edit</a>

            <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
                <button value="submit">DELETE GAME</button>
            </form>
        </li>
    <% }) %>
    </ul>
</body>
</html>