<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game</title>
</head>
<body>
    <h1>Create a Game</h1>

    <form action="/games" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"/>
        <lable for="genre">Genre:</lable>
        <input type="text" name="genre" id="genre"/>
        <button type="submit">Add Game</button>
    </form>
</body>
</html>